# Dependencias
node_modules/

# Variables de entorno y credenciales
.env
.env.local
.env.*.local
serviceAccountKey.json
firebase-debug.log

# Build
dist/
build/

# Editor
.vscode/*
!.vscode/extensions.json

# Sistema
.DS_Store